body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #ffffff;
  font-family: 'Jua', sans-serif;
  /* font-family: 'Poor Story', system-ui; */
}

.container {
  text-align: center;
  /* background-color: #fff; */
  background: linear-gradient(45deg, #f3e5f5, #ffffff);

  width: 480px;
  height: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* 로고 스타일 */
.logo .logo {
  margin-top: 20px;
  margin-right: 350px;
  width: 50px;
  height: 30px;
}

.guide {
  margin-top: 80px;
  text-align: center;
}

.method{
  text-align: center;
}

button{
  margin-top: 5px;
  background-color: #a46ff5;
  color: white;
  border-radius: 20px;
  border: none;

}

button:hover {
  color: #a66bff; /* 버튼 호버 색상 */
  background-color: #ebdffc;
  box-shadow: 0 4px 8px #a569ff(0, 0, 0, 3);
}


