.body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #ffffff;

  font-family: 'Nanum Gothic', sans-serif;
}

.container {
  text-align: center;
  /* background-color: #fff; */
  background: linear-gradient(45deg, #f3e5f5, #ffffff);

  width: 380px;
  height: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header img {
  width: 24px;
  height: 24px;
}

.history {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}

.homebtn {
  font-size: 13px;
  background-color: #f3dbfa;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 2px 3px 2px 3px;
}

.history {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #ffffff;
}

.history div {
  margin-bottom: 5px; /* 각 항목 사이에 간격을 추가합니다 */
}
