body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  font-family: 'Jua', sans-serif;
}

.container {
  text-align: center;
  background: linear-gradient(45deg, #f3e5f5, #ffffff);
  width: 380px;
  height: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #a46ff5;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.mainLogo {
  width: 30px;
}

.platformLogo {
  width: 100px;
}

.priceInfo {
  /* flex-grow: 1; */
  width: 200px;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.rating {
  color: #ffcc00;
}

.websiteLink {
  display: block;
  text-align: right;
  color: #007bff;
  text-decoration: none;
  font-size: 20px;
}

.reviews {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  max-height: 400;
  overflow-y: auto;
}

.myReview {
  background-color: #ffcccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myReviewContent {
  flex: 1;
  text-align: center;
  margin-right: 5px;
}

.deleteBtn {
  background: none;
  border: none;
  color: #ff0000;
  font-size: 15px;
  cursor: pointer;
  padding: 0 3px;
}

.otherReview {
  background-color: #ffe6e6;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 5px;
}

.reviewCount {
  font-size: 48px;
  color: #ff0000;
  text-align: center;
  margin-top: 10px;
}

.btn {
  background-color: #a46ff5;
  color: white;
  border: none;
  margin-top: 0px;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.btnHover {
  color: #a66bff;
  background-color: #ebdffc;
  box-shadow: 0 4px 8px rgba(165, 105, 255, 0.3);
}

.star01 {
  width: 30px;
}

.star02 {
  width: 65px;
}

.star03 {
  width: 95px;
}

.star04 {
  width: 125px;
}

.star05 {
  width: 160px;
}
